<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to Hobbyist, <%= @user.email %></h1>
  <p>
    You have successfully signed up to Hobbyist.
    Are you ready to hop on the hobby horse with your new community?
  </p>
  <p>
    To login to the site, just follow this link: <%= link_to "Hobbyist awaits!", new_user_session_url %>
  </p>
  <p>Thanks for joining and have a great day!</p>
</body>
</html>