
<%= link_to user_path(user), class: "text-decoration-none text-secondary", data: { turbo_frame: "middle-column"} do %>
  <div class="px-3 pt-3">
    <%= image_tag user_avatar(user), class: "rounded-circle avatar-small" %>
    <%= user.full_name %>
  </div>
<% end %>
