
<%= turbo_frame_tag "middle-column" do %>
  <div>
    <% User.not_friends(current_user).each do |user| %>
      <div class="d-flex">
        <%= render partial: "users/avatar_and_name", locals: { user: user } %>
        <% if Invitation.reacted?(current_user.id, user) %>
          <button type="button" class="btn btn-secondary">Request Pending</button>
        <% else %>
          <%= button_to "Add Friend", invitations_path(:user => user), class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
