
<%= turbo_frame_tag "middle-column" do%>
  <div class="column-middle">
    <% @my_friends.each do |friend| %>
      <% invitation = Invitation.find_invitation(current_user.id, friend.id) %>
      <%= friend.full_name %>
      <%= button_to "Unfriend", invitation_path(invitation), method: :delete, class: "btn btn-danger" %>
      <br>
    <% end %>
  </div>
<% end %>