
<% posts.each do |post| %>
  <div class="card bg-light mt-3">

    <div class="card-header">
      <%= render partial: "posts/post_header", locals: { post: post } %>
    </div>

    <div class="card-body">
      <%= render partial: "posts/post_content", locals: { post: post } %>
    </div>

    <div class="card-footer">
      <%= render partial: "posts/post_footer", locals: { post: post } %>
    </div>

  </div>
<% end %>
