
<div class="post-footer d-flex">
  <div>
    <% pre_like = post.likes.find { |like| like.user_id == current_user.id } %>
    <% if pre_like %>
      <%= link_to post_like_path(post, pre_like), data: { turbo_method: :delete } do %>
        <i class="fa-solid fa-thumbs-up fa-lg"></i>
      <% end %>
    <% else %>
      <%= link_to post_likes_path(post), data: { turbo_method: :post } do %>
        <i class="fa-regular fa-thumbs-up fa-lg"></i>
      <% end %>
    <% end %>
  </div>
  <div class="flex-grow-1 post-like-count ps-2">
    <%= post.likes.count %>
  </div>
  <div>
    <%= link_to "Comment (#{post.comments.count})", post_path(post), class: "text-decoration-none" %>
  </div>
</div>
