
<%= turbo_frame_tag "middle-column", data: { turbo_action: "advance" } do %>
  <div class="column-middle">
    <%= render partial: "posts/text_box", locals: { model: @post, url: post_path(@post), 
    scope: false, content: :post_content, placeholder: "", path: params[:path] } %>
  </div>
<% end %>
