
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.body-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.left-column,
.middle-column,
.right-column {
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

ul {
  list-style-type: none;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  flex-grow: 1;
}

.column-middle {
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-bottom: 5rem;
}

.column-middle::-webkit-scrollbar {
  display: none;
}

.column-middle {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

.post-box {
  width: 100%;
  height: 5rem;
  resize: none;
  border-radius: 25px;
  border: 1px solid black;
  padding: .5rem;
  overflow: auto;
  outline: none;
  resize: none;
}

.post {
  border-radius: 25px;
  padding: 1rem;
  outline: none;
}

hr {
  border-color: red;
  margin: 0rem;
}

.avatar-extra-small {
  height: 2rem;
  width: 2rem;
}

.avatar-small {
  height: 4rem;
  width: 4rem;
}

.avatar-medium {
  height: 10rem;
  width: 10rem;
}

.avatar-large {
  height: 30rem;
  width: 30rem;
}
