
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.content {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  /* display: flex; */
  min-height: 100vh;
  /* flex-direction: column; */
}